@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --clr-yellow: #FFC016;
    --clr-black: #191919;
    --clr-grey: #E6E6E6;
    --clr-drk-grey: #B3B3B3;
    --clr-drkst-gre: #757575;
}



body {
    font-family: 'Roboto', sans-serif;
}

/* header section */

header {
    height: 75px;
    background-color: var(--clr-yellow);
    border-bottom: 1px solid var(--clr-black);
    display: flex;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .logo {
    margin-right: auto;
}

header nav {
    display: flex;
    align-items: center;
}

header .nav-link {
    color: var(--clr-black);
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    margin-right: 23px;
}

header .start-button {
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: white;
    background-color: var(--clr-black);
    border-radius: 50px;
    padding: 10px 15px;
}

/* hero section */

.hero {
    height: 455px;
    background-color: var(--clr-yellow);
    border-bottom: 1px solid black;
    display: flex;
    padding-top: 75px;
}

.hero-text-area {
    width: 50%;
    margin: 6%;
}

.hero h1 {
    font-size: 100px;
    margin-bottom: 35px;
}

.hero p {
    font-size: 25px;
    width: 75%;
}

.hero .start-reading-button {
    margin-top: 40px;
    background-color: var(--clr-black);
    color: white;
    padding: 10px 45px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
}

.hero-animation-area {
    height: 100%;
}

.hero-animation-area svg {
    height: 100%;
}

/* trending section */

.trending-container {
    margin: 40px 64px 25px 64px;
}


.trending-card-section-container {
    display: flex;
    width: calc( 100% + 32px);
    flex-wrap: wrap;
}

.trending-card-container {
    width: 33.3333333%;
    display: flex;
    align-items: flex-start;
    margin: 10px 0 35px 0;
}

.trending-title-container {
    display: flex;
    align-items: center;
}
.trending-card {
    margin-top: 5px;
}

h2 {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-left: 10px;
}

.trending-card-container h4 {
    color: var(--clr-grey);
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
}

.trending-card .author-name {
    font-size: 13px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.trending-card .author-name img {
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}


.trending-card-container .post-title {
    margin: 10px 18px 10px 0;
    font-weight: 700;
}

/* bottom section */

.main-bottom-section-container {
    border-top: 1px solid var(--clr-grey);
}

.main-bottom-section {
    display: flex;
    margin: 45px 64px;
    justify-content: space-around;
}

.article-list {
    max-width: 695px;
}

.article-card-container-with-picture {
    display: flex;
    margin-bottom: 30px;
}

.article-card-container {
    min-width: 75%;
}

.article-card-container .author-name {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.article-card-container .author-name img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: .5px solid var(--clr-drk-grey);
    margin-right: 8px;
}

.article-card-container h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-card-container p {
    color: var(--clr-drk-grey);
    margin-right: 10px;
    margin-bottom: 10px;
}

.date-of-publication {
    font-size: 13px;
    color: var(--clr-drk-grey);
    display: flex;
    align-items: center;
}

.date-of-publication span {
    background-color: var(--clr-grey);
    border-radius: 50px;
    padding: 4px 13px;
    margin-left: 5px;
    margin-right: 5px;
}

.star {
    margin-right: auto;
}




.article-card-container-with-picture > img {
    width: 200px;
    aspect-ratio: auto 200 / 134;
    height: 134px;
    padding: 15px 0 15px 20px;
    box-sizing: border-box;
}


/* aside */

.aside-container {
    max-width: 395px;
    position: sticky;
    top: 107px;
}

aside {
    position: relative;
    margin-left: 40px;
}

aside h2 {
    margin-bottom: 10px;
    margin-left: 0;
}
.topic-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.topic {
    border: 1px solid var(--clr-grey);
    padding: 8px 15px;
    margin: 5px 5px 5px 0;
    color: var(--clr-drk-grey);
    font-size: 13px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--clr-grey);
    margin-left: 5px;
    padding-top: 25px;
}

.footer-link {
    color: var(--clr-drk-grey);
    margin-right: 25px;
    margin-bottom: 15px;
    font-size: 15px;
}
